<article class="post">
    <div class="title">
        {{title}}
    </div>

    <div class="content">
        {{content}}
    </div>

    <div>
        created by {{user.username}}
    </div>
</article>