<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        <article class="post">
            <div class="title">
                {{post.title}}
            </div>

            <div class="content">
                {{post.content}}
            </div>

            <div>
                created by {{post.user.username}}
            </div>
        </article>
    </li>
    {{/each}}
</ol>